.explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.cp {
  margin: 1rem;
}
/* .exp-card {
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25rem;
  width: 18rem;
} */
