.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem;
  margin: 1.875rem;
  background-color: rgb(213, 209, 209);
  justify-content: space-between;
  width: 45%;
}
.post1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(155, 155, 155);
  padding: 0.625rem;
  position: relative;
  width: 100%;
}
.post2 {
  width: 100%;
  height: 80%;
}
.post2 > img {
  height: 100%;
  width: 100%;
}
.name {
  font-weight: bolder;
  font-size: large;
}
.post1 > h4 {
  margin-top: 0;
}
.post1 > div > img {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
}
.post1-a {
  display: flex;
  flex-direction: column;
}
.post2 {
}
.like {
  color: red;
  margin: 0 12.5rem 0;
  padding: 1.25rem;
}
.post3 {
  display: flex;
  flex-direction: row;
}
