.stories {
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.625rem;
  margin-right: 1.25rem;
}
.story-cont {
  width: 21.875rem;
  height: auto;
  margin: auto;
  padding: 0.625rem;
  position: relative;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.story {
  z-index: 3;
}
.story-img {
  width: auto;
  height: auto;
  display: block;
  margin: 0.9375rem 0;
  filter: brightness(40%);
  z-index: 1;
}
.story {
  color: rgb(216, 212, 212);
  position: absolute;
  z-index: 3;
  top: 6.25rem;
  left: 8.75rem;
}

.story > img {
  border-radius: 50%;
  height: 3.75rem;
  width: 3.75rem;
}
