img {
  height: 11.25rem;
  width: 11.25rem;
  padding: 0.625rem;
}
.trendingpics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.trendingpix-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
  border-style: solid;
  border-color: rgb(199, 191, 191);
  border-width: 0.125rem;
  padding: 0.625rem;
  margin: 0.625rem;
}
